body{
    background-color: rgb(188, 197, 207);
    text-align: center;
}

h1{
    font-size: 30px;
    color: black;
}

p{
    color: black;
    font-size: 25px;
}

.itens{
    font-style: italic;
}

.benefios{
    background-color: white;
    text-align: left;
}